@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h1{
        @apply text-5xl;
    }

    h2{
        @apply text-3xl;
    }

    h3{
        @apply text-xl;
    }

    a{
        min-width: theme('width.auto') !important;
    }

    li{
        height: fit-content;
        width: theme('width.full');
    }

    ul{
        height: fit-content;
        width: theme('width.full');
    }
}

@layer components{

    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.4');
        margin: theme('spacing.2');
        box-shadow: theme('boxShadow.md');
        border-color: theme('colors.black');
        border-style: solid;
        border-width: 1px;
    }

    .btn {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.2');
        margin: theme('spacing.1');
        box-shadow: theme('boxShadow.lg');
        border-color: theme('colors.black');
        border-style: solid;
        border-width: 1px;
        text-align: center;
    }

    .btn-primary {
        background-color: theme('colors.primary');
        border-color: theme('colors.primary');
        color: theme('colors.gray') !important;
    }

    .btn-primary:hover {
        background-color: theme('colors.dark-primary');
        border-color: theme('colors.dark-primary');
        color: theme('colors.light-gray') !important;
    }

    .btn-gray {
        background-color: theme('colors.light-gray');
        border-color: theme('colors.gray');
        color: theme('colors.black') !important;
    }

    .btn-gray:hover {
        background-color: theme('colors.gray');
        border-color: theme('colors.gray');
        color: theme('colors.white') !important;
    }
}